venv/
.env/
.venv/

pycache/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.swp
.DS_Store
.idea/
.vscode/

data/intermediate/
data/temp/
logs/
outputs/


*.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

conf/local/
conf/base/catalog.yml
conf/base/credentials.yml
conf/local/*.yml

.ipynb_checkpoints/
.jupyter/

*.pid
*.sock

Thumbs.db
desktop.ini

airflow/
dags/
plugins/
logs/

*.bak
*.old
*.orig
*.tmp
*.temp